.arrow {
  width: 47px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.arrow_left {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-200%);
}

.arrow_right {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(200%);
}

@media (max-width: 477.98px) {
  .arrow {
    width: 37px;
  }
}
