.projects_header {
  height: 100px;
  width: 100%;
  background: url("../../../assets/img/projects_header.png") no-repeat center;
  background-size: cover;
  box-shadow: -4px 8px 10px 0px rgb(0 0 0 / 51%);
}

.projects_header_title {
  height: 130px;
  width: 100%;
  background: #f4f7fd;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projects_header_title h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #005bbc;
  text-align: center;
}

@media (max-width: 991.98px) {
  .projects_header {
    background: url("../../../assets/img/projects_header_mobile.png") no-repeat
      center;
    background-size: cover;
  }
  .projects_header_title {
    height: 90px;
  }
}
