.tokenomics_header {
  height: 100px;
  width: 100%;
  /*   background: url("../../../assets/img/projects_header.png") no-repeat center;
  background-size: cover; */
  background: linear-gradient(
    321.6deg,
    rgba(0, 20, 97, 0.75) -19.18%,
    rgba(0, 22, 109, 0.75) 130.16%
  );
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

@media (max-width: 991.98px) {
  .tokenomics_header {
    /* background: url("../../../assets/img/projects_header_mobile.png") no-repeat
      center;
    background-size: cover; */
    background: linear-gradient(
      321.6deg,
      rgba(0, 20, 97, 0.75) -19.18%,
      rgba(0, 22, 109, 0.75) 130.16%
    );
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    height: 60px;
  }
}
